@model IEnumerable<CafeAPI.Models.KlhkSents>
@{
    ViewData["Title"] = "Data was Sent to KLHK";
}

<h3>@ViewData["Title"]</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.TableCode)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.pH)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.COD)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.TSS)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.NH3)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Debit)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TableCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TSS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NH3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Debit)
        </td>
    </tr>
    }
</table>
